{##### Service Leaf to FW Port Channel #####}
{##### Applicable for FW #####}

interface Port-Channel {{Devices[FW]['portchannel_towards_sl']}}.{{sub_int_num}}
   enc dot1q vlan {{sub_int_num}}
   ip address {{sl_fw_subnet | ipaddr(1)}}
   description {{desc}}
   
{##### Applicable for Firewall #####}
router bgp {{fw_asn}}
   neighbor {{ temp_sl_fw_connection_subnet_sl_ip }} remote-as {{customer_sl_local_asn}}
   neighbor {{ temp_sl_fw_connection_subnet_sl_ip }} des Towards SL

