{##### Type5 Routes Classic L3 ######}
{##### Applicable for Leaf #####}

vrf instance {{cust_name}} 
   rd {{cust_id}}:{{Devices[SW]['device_id']}}
!
ip routing vrf {{cust_name}}
!
interface loopback {{cust_id}}
   vrf forwarding {{cust_name}}
   ip address {{l3_loopback_subnet | ipaddr(Devices[SW]['device_id']) | ipaddr("address")}}/32
!
{##### Type5 Routes Classic L3 ######}
{##### Applicable for Leaf #####}

interface Vxlan1
   vxlan vrf {{cust_name}} vni {{l3_vni}}

