
{##### Type2 Routes BGP Configuration #####}
{##### Applicable for leaf #####}
!
router bgp 65000

   vlan {{type2_vlan_id}}
   rd {{type2_vlan_id}}:{{Devices[SW]['device_id']}}
   route-target both {{type2_vlan_id}}:{{type2_vlan_vni}}
   redistribute learned
!

