{##### Type2 Routes DataCenter Wide Rack Specfic #####}
{##### Applicable for leaf #####}

{% if Devices[SW]['device_role'] == 'leaf' %}
{% for entry in Devices[SW]['customers'] %}
{% for vlan_entry in entry['type2_routes'] %}
!
vlan {{ vlan_entry['vlan'] }}
   name {{ vlan_entry['name'] }}
!
interface Vxlan1
   vxlan vlan {{ vlan_entry['vlan'] }} vni {{ vlan_entry['l2_vni'] }}
!
interface vlan {{ vlan_entry['vlan'] }}
   vrf forwarding {{ entry['cust_name'] }}
   ip address virtual {{ vlan_entry['subnet'] | ipaddr(1) }}
!
{% endfor %}
{% endfor %}
{% endif %}
!

{% if Devices[SW]['device_role'] == 'leaf' %}
{% for entry in Devices[SW]['customers'] %}
{% for vlan_entry in entry['type2_routes'] %}
!
router bgp 65000
!
   vlan {{ vlan_entry['vlan'] }}
   rd {{ vlan_entry['vlan'] }}:{{ Devices[SW]['device_id'] }}
   route-target import {{ vlan_entry['l2_vni'] }}:{{ vlan_entry['vlan'] }}
   route-target export {{ vlan_entry['l2_vni'] }}:{{ vlan_entry['vlan'] }}
   redistribute learned
   exit
!
{% endfor %}
{% endfor %}
{% endif %}
!
