

{##### Applicable for Service leaf #####}
!
{% for entry in Devices[SW]['customers'] %}
{% for portchannel_entry in entry['portchannel'] %}
{% for portchannel_subint_entry in portchannel_entry['portchannel_subint'] %}
!
interface Port-Channel {{ portchannel_entry['portchannel_num'] }}.{{ portchannel_subint_entry['subint_num'] }}
   no switchport
   vrf forwarding {{ entry['cust_name'] }}
   ip address {{ portchannel_subint_entry['subnet'] | ipaddr(0) }}
   des {{ portchannel_subint_entry['des'] }}
   
{% endfor %}
{% endfor %}
{% endfor %}
!   
{#

{% for entry in Devices[SW]['customers'] %}
{% for ethernet_entry in entry['portchannel'] %}

!
router bgp 65000
   vrf {{ entry['cust_name'] }}
      neighbor {{ ethernet_entry['remote_ip'] }} remote-as {{ entry['fw_asn'] }}
      neighbor {{ ethernet_entry['remote_ip'] }} local-as {{ entry['local_asn'] }} no-prepend replace-as

{% endfor %}
{% endfor %}
!
#}
