
{##### Base VXLAN Config #####}
{##### Applicable for Leaf #####}
int vxlan 1
   vxlan source-int lo 1
   vxlan udp-port 4789

ip virtual-router mac-address 0c:fd:01:01:01:01



{########## Type5 Routes Classic L3 ########}
{############## Applicable for Leaf ################}

{% for entry in Devices[SW]['customers'] %}
vrf instance {{ entry['cust_name'] }}
   rd {{ entry['cust_id'] }}:{{ Devices[SW]['device_id'] }}
!
ip routing vrf {{ entry['cust_name'] }}
!
interface loopback{{ entry['cust_id'] }}
   vrf forwarding {{ entry['cust_name'] }}
   ip address {{ entry['l3_loopback_subnet'] | ipaddr(Devices[SW]['device_id'])}}
!
interface Vxlan1
   vxlan vrf {{ entry['cust_name'] }} vni {{ entry['l3_vni'] }}

{% endfor %}


{########## Type5 Routes Classic L3 BGP Configuration ########}
{############## Applicable for Leaf ################}
{% for entry in Devices[SW]['customers'] %}

router bgp 65000

   vrf {{ entry['cust_name'] }}
      rd {{ entry['cust_id'] }}:{{ Devices[SW]['device_id'] }}
      route-target import evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
      route-target export evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
      redistribute connected

{% endfor %}
