{% for entry in Devices[SW]['customers'] %}

router bgp 65000

   vrf {{ entry['cust_name'] }}
      rd {{ entry['cust_id'] }}:{{ Devices[SW]['device_id'] }}
      route-target import evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
      route-target export evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
      redistribute connected

{% endfor %}
