{###### Looback 0 Configuration ######}

interface loopback 0
  description base loopback
  ip address 10.0.0.{{ Devices['Spine1']['id'] }}/32
  ip ospf area 0.0.0.0

{###### Looback 1 Configuration ######}


{% set id = {{ Devices[hosts]['id']|string %}

interface loopback 1
  description base loopback
  ip address 10.1.1.{{ id }}/32
  ip ospf area 0.0.0.0
