ip routing
!
{% for entry in Devices[SW]['ethernet'] %}
interface eth {{ entry['int_num'] }}
   no switchport
   ip address {{ entry['ip_address'] }}
   des {{ entry['des'] }}
   ip ospf area 0.0.0.0
{% endfor %}
!
{% for entry in Devices[SW]['loopback'] %}
interface loopback {{ entry['loop_num'] }}
   ip address {{ entry['ip_address'] }}/32
   des {{ entry['des'] }}
   ip ospf area 0.0.0.0
{% endfor %}
!
{% for entry in Devices[SW]['loopback'] %}
{% if entry['loop_num'] == '0' %}
router ospf 10
   router-id {{ entry['ip_address'] }}   
!
router bgp 65000
   router-id {{ entry['ip_address'] }}   
{% endif %}
{% endfor %}
!
{% for entry in Devices[SW]['BGP'] %}
router bgp 65000
   neighbor IBGP-EVPN peer group
   neighbor IBGP-EVPN update-source lo 0
   neighbor IBGP-EVPN send-community
   neighbor IBGP-EVPN remote-as 65000
   neighbor {{ entry['nei'] }} peer group IBGP-EVPN
   neighbor {{ entry['nei'] }} description {{ entry['des'] }}   
{% if entry['is_routereflector'] %}
   neighbor IBGP-EVPN route-reflector-client
{% endif %}
   add evpn
      neighbor IBGP-EVPN activate
{% endfor %}
!
int vxlan 1
   vxlan source-int lo 1
   vxlan udp-port 4789
!
ip virtual-router mac-address 0c:fd:01:01:01:01
!
{% for entry in Devices[SW]['customers'] %}
vrf instance {{ entry['cust_name'] }}
   rd {{ entry['cust_id'] }}:{{ Devices[SW]['device_id'] }}
!
ip routing vrf {{ entry['cust_name'] }}
!
interface loopback{{ entry['cust_id'] }}
   vrf forwarding {{ entry['cust_name'] }}
   ip address {{ entry['l3_loopback_ip'] }}
!
{% for vlan_entry in entry['type5_routes'] %}
vlan {{ vlan_entry ['vlan'] }}
   name {{ vlan_entry ['name'] }}
{% endfor %}
!
interface Vxlan1
   vxlan vrf {{ entry['cust_name'] }} vni {{ entry['l3_vni'] }}
!
router bgp 65000
!
   vrf {{ entry['cust_name'] }}
   rd {{ entry['cust_id'] }}:{{ Devices[SW]['device_id'] }}
   route-target import evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
   route-target export evpn {{ entry['cust_id'] }}:{{ entry['cust_id'] }}
   redistribute connected
   address-family ipv4
!
{% endfor %}
